{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<main class="container">
  <!-- method="post" foi removido apenas para o exemplo funcionar sem o servidor -->

  <form class="form-card" method="post">
    {% csrf_token %}
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Título"
    />
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    ></textarea>
    <button class="btn" type="submit">Criar</button>
  </form>

  <div class="card-container">

    {% block nota %} {% endblock %}
  </div>
</main>

<script type="text/javascript" src="{% static 'notes/script/getit.js' %}"></script>
{% endblock %}